/*global*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.body {
  position: relative;
  background: hotpink;
}


a {
  color: #fff;
  opacity: .8;
  text-decoration: none;
}

/*header*/

.header {
  display: flex;
  padding: 0 10%;

  position: absolute;
  width: 1600px;
  height: 95px;
  left: 0;
  top: 0;
}

.menu {
  position: relative;
  margin: 0 auto;
}

.menu__list {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin: 45px;
}

#about {
  margin: 45px 45px 44px 23px;
  border-bottom: 1px solid #fff;
  /*text-decoration: underline;*/
  /*text-underline-position: auto;*/
}

#syllabus {
  margin: 46px 49.5px 45px 40.5px;
}

#logo {
  margin: 47px 42px 43px 52px;
}

#projects {
  margin: 46px 32px 45px 58px;
}

#faq {
  margin: 46px 38px 45px 52px;
}
/*section main*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url(assets/screen_1/bg-image.png);
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.main__title {
  margin: 0 8px 0 6px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: absolute;
  width: 730px;
  height: 75px;
  left: 435px;
  top: 231px;
  overflow: visible;
}

#main__title_your {
  margin: 12px 2px 0 -5px;
}

#main__title_is {
  margin: 0 3px 0 2px;
}

.main__description {
  margin: 0px 2px 2px 0px;
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 326px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.main__button {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
  text-transform: uppercase;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00AFDB;
  align-items: center;
  justify-items: center;
  font-size: 14px
}

.socials {

  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  top: 635px;

}